.vitrine-produtos {
    display: flex;
    overflow-x: scroll;
}
.resultFilter {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 4%;
}
strong {
    color: #828282;
}

@media screen and (min-width:1024px) {
    .vitrine-produtos {
        max-width: 900px;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
    .resultFilter {
        margin: 4%;
    }
}